body {
    color: white;
}
h3, h2 {
    color: #4af094;
    margin-left: 10%;
}
.chart-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.chart-img img {
    width: 80%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.chart-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4af094; 
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}
.chart-content p {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    height: 80px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #4b4752;
    width: 100%;
    font-size: 18px;
    color: #4af094;
}
.chart-content b {
    font-size: 15px;
    color: white;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}

td{
    color: white;
}

.international-banner  a{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 20px 0; 
    background-color: #4b4752;
    color: #4af094;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
}